

<!DOCTYPE html>
<html>
<head>
    
    <title>sportyshoes</title>
   
</head>
<body align="center">


    <div class="title">ADMIN Login</div>
         <form action="adminLogin" method="post">
      
              Email <input class="user-input" type="email" placeholder="Enter Your Email" name="email" required></br>
           
              Password<input class="user-input" type="password" placeholder="Enter Your password" name="password" required></br>
            
                <input class="user-input" type="submit" value="Login">
                </form>
</body>
</html>