<!DOCTYPE html>
<html>
<head>
    
    <title>sportyshoes</title>
   
</head>
<body align="center">


    <div >Change Password</div>
    <form action="changePassword" method="post">
       
                
               Email <input  type="email" placeholder="Enter Your Email Id" name="email" required></br>
            
            
               OLd password<input  type="password" placeholder="Enter Your Old Password" name="oldPassword" required></br>
           
              New password<input class="user-input" type="password" placeholder="Enter Your new password" name="newPassword" required> </br>
          
                <input  type="submit" value="Change Password">
                </form>
        
    <a href="">Login</a>


</body>
</html>