<!DOCTYPE html>
<html>
<head>
   
    <title>Sporty shoes</title>
    
</head>
<body align="center">


    <h2>SignUp</h2>
    <form action="UserSignUp" method="post">
       
               user name <input  type="text" placeholder="Choose Your UserName" name="userName" required> </br>
          
               Email id <input type="email" placeholder="Enter Your email" name="email" required> </br>
          
          
              Full Name <input  type="text" placeholder="Enter Your name" name="name" required> </br>
          
            
              Password  <input  type="password" placeholder="Enter Your password" name="password" required> </br>
            
                <input  type="submit" value="Sign Up">
           
    </form>
    <a href="">Login</a>


</body>
</html>